//colors
$primary: hsl(300, 50%, 30%);
$secondary: hsl(118, 75%, 34%);
$succes: hsl(118, 50%, 30%);
$info: hsl(300, 50%, 30%);
$warning: hsl(300, 50%, 30%);
$danger: hsl(300, 50%, 30%);
$light: hsl(300, 50%, 30%);
$dark: hsl(300, 50%, 30%);


// $succes:
// $info:
// $warning:
// $danger:
// $light:
// $dark: 